
<div *ngIf="bloodPressure">
    <h2><span jhiTranslate="twpointsApp.bloodPressure.detail.title">Blood Pressure</span> {{bloodPressure.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="twpointsApp.bloodPressure.date">Date</span></dt>
        <dd>
            <span>{{bloodPressure.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="twpointsApp.bloodPressure.systolic">Systolic</span></dt>
        <dd>
            <span>{{bloodPressure.systolic}}</span>
        </dd>
        <dt><span jhiTranslate="twpointsApp.bloodPressure.diastolic">Diastolic</span></dt>
        <dd>
            <span>{{bloodPressure.diastolic}}</span>
        </dd>
        <dt><span jhiTranslate="twpointsApp.bloodPressure.bloodPressureUser">Blood Pressure User</span></dt>
        <dd>
            {{bloodPressure.bloodPressureUser?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'blood-pressure/'+ bloodPressure.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
